<!DOCTYPE html>
<html lang="pt-br" dir="ltr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Finalizar a compra</title>
</head>

<section layout:fragment="conteudo">




	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="col-12 offset-lg-2 col-lg-10">
					<div class="entry-header">
						<!-- .countdown-holder -->

						<div class="col-12 correnan"><h1>Infornações do Usuario</h1></div>
						
						<div class="col-6 correnan">
							<select class="form-control">
								<option value="Cartão de credito">Cartão de Crédito</option>
								<option value="Cartão de debito">Cartão de Débito</option>
								<option value="Boleto">Boleto</option>
								<option value="Transferência">Transferência</option>
								
							</select>
						
						</div>
						
						
							<div class="table-responsive">
                <table class="table table-striped correnan">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produto</th>
                            <th scope="col">Estoque</th>
                            <th scope="col" class="text-center">Quantidade</th>
                            <th scope="col" class="text-right">Valor Unitario</th>
                            <th scope="col" class="text-right">Valor Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${listaItens}">
                            <td><img th:src="@{/images/{codigo}.png(codigo=${item.produto.genero})} " width="50px" /> </td>
                            <td th:text="${item.produto.descricao}"></td>
                            <td>Em estoque</td>
                            <td><span th:text="${item.quantidade}"></span> &nbsp; &nbsp;
                            
                            
                            </td>
                            <td class="text-right" th:text="| R$ ${{item.valorUnitario}}|"></td>
                            <td class="text-right" th:text="| R$ ${{item.valorTotal}}|"></td>
                            <td class="text-right">
                            
                            	
                             </td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right"><span th:text="| R$ ${{compra.valorTotal}}"></span></td>
                        </tr>
                        
                        <tr>
                        	<td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong><span th:text="| R$ ${{compra.valorTotal}}|"></span></strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>	
						
		  <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                 
                    
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Confirmar a Compra</button>
                </div>
            </div>
        </div>		
								
								
									
					
							
                             
						 </div>
					</div>
						</div>
						
						
						
						
					</div>
				</div>


	


</section>
</html>
