<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
	<head>
	<title> Cadastro Casas</title>
	</head>

	<section layout:fragment="conteudo">
	<div class="hero-content">
		<div class="container">
			<div class="row correnan">
				<div class="col-12 offset-lg-2 col-lg-10">
				<h1>Cadastro de Usuarios</h1>
					<div class="entry-header">


						<form method="POST" action="/cadastro" th:object="${usuarios}">
								<div layout:insert="MensagemGeral"></div>
								<div layout:insert="MensagemErro"></div>
								<div class="card-body">
								<input type="hidden" th:field="*{id}"/>
								
								<div class="form-group row col-md-6 mb-3" th:classappend="${#fields.hasErrors('primeiroNome')} ? has-error">
									<label for="validationDefault01">PRIMEIRO NOME</label> 
									<input
										type="text" class="form-control" th:classappend="${#fields.hasErrors('primeiroNome')} ? is-invalid" th:field="*{primeiroNome}" 
										placeholder="ex: Mark"  >
								</div>
								<div class="form-group row col-md-6 mb-3" th:classappend="${#fields.hasErrors('sobreNome')} ? has-error">
									<label for="validationDefault02">SOBRE NOME</label>
									 <input type="text" class="form-control" th:classappend="${#fields.hasErrors('sobreNome')} ? is-invalid" th:field="*{sobreNome}"
										placeholder="ex: Bezerra Gomes">
								</div>
								<div class="form-group row col-md-6 mb-3"th:classappend="${#fields.hasErrors('email')} ? has-error">
									<label for="validationDefaultUsername">EMAIL</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupPrepend2">@</span>
										</div>
										<input type="text" class="form-control" th:classappend="${#fields.hasErrors('email')} ? is-invalid" th:field="*{email}"
										placeholder="ex: NOME@gmail.com">
									</div>
								</div>
							

							
								<div class="form-group row col-md-6 mb-3"th:classappend="${#fields.hasErrors('cpf')} ? has-error">
									<label for="validationDefault03">CPF</label>
									 <input type="text" class="form-control" th:classappend="${#fields.hasErrors('cpf')} ? is-invalid" th:field="*{cpf}"
										placeholder="ex: 123.123.123-12">
								</div>
								
								
								
								<div class="form-group row col-md-6 mb-3"th:classappend="${#fields.hasErrors('dataNascimento')} ? has-error">
									<label for="validationDefault04">DATA DE NASCIMENTO</label> 
									<input type="text" class="form-control" th:classappend="${#fields.hasErrors('dataNascimento')} ? is-invalid" th:field="*{dataNascimento}"
										placeholder="ex: 09/09/2009">
								</div>
								<div class="form-group row ">
									<label for="sexo" class="col-sm-2 control-label">SEXO</label> 
									<div class="col-sm-2">
									<select class="form-control" name="sexo">
									
										<option th:each="status: ${todosStatusUsuario}" th:value="${status}"
										th:text="${status.descricao}"> </option>
									
									</select>
									</div>	
								</div>
								
							
								<div class="form-group row col-md-6 mb-3"th:classappend="${#fields.hasErrors('nomeUsuario')} ? has-error">
									<label for="validationDefault03">NOME DO USUARIO</label> 
									<input type="text" class="form-control"th:classappend="${#fields.hasErrors('nomeUsuario')} ? is-invalid" th:field="*{nomeUsuario}"
										placeholder="ex: marilda">
								</div>
								<div class="form-group row col-md-6 mb-3"th:classappend="${#fields.hasErrors('senha')} ? has-error">
									<label for="validationDefault04">SENHA</label> 
									<input type="text" class="form-control"th:classappend="${#fields.hasErrors('senha')} ? is-invalid" th:field="*{senha}"
										placeholder="ex: ******">
								</div>
								
							
							
							
							<button class="btn btn-primary" type="submit">Enviar</button>
							</div>
						</form>
						<!-- .entry-meta-date -->
					</div>
					<!-- .entry-header -->

					<div class="countdown flex flex-wrap justify-content-between"
						data-date="2018/06/06">
						<div class="countdown-holder"></div>
						<!-- .countdown-holder -->

					</div>
					<!-- .countdown -->
				</div>
				<!-- .col-12 -->
			</div>
			<!-- row -->

			<div class="row">
				<div class="col-12 ">
					<div class="entry-footer"></div>
				</div>
			</div>
		</div>
		<!-- .container -->
	</div>
</section>
</html>
	