<!DOCTYPE html>
<html lang="pt-br" dir="ltr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro Evento</title>
</head>

<section layout:fragment="conteudo">
	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="col-12 offset-lg-2 col-lg-10">
					<h1>Eventos</h1>
					<div class="entry-header">
						<!-- .countdown-holder -->

	
						<form method="POST" action="/evento" th:object="${evento}" th:if="${!#lists.isEmpty(todosEspacoEvento)}">

							<div layout:insert="MensagemGeral"></div>
							<div layout:insert="MensagemErro"></div>
							
							<div class="card-body">
								<input type="hidden" th:field="*{id}">

								<div class="form-group row"
									th:classappend="${#fields.hasErrors('nomeEvento')} ? has-error">
									<label for="nomeEvento" class="col-sm-2 control-label">NOME</label>
									<div class="col-sm-4">
										<input type="text" class="form-control"
											th:classappend="${#fields.hasErrors('nomeEvento')} ? is-invalid"
											th:field="*{nomeEvento}" placeholder="ex: NOME">
									</div>
								</div>
								<div class="form-group row"
									th:classappend="${#fields.hasErrors('descricao')} ? has-error">
									<label for="descricao" class="col-sm-2 control-label">DESCRIÇÃO</label>
									<div class="col-sm-4">
										<input type="text" class="form-control"
											th:classappend="${#fields.hasErrors('descricao')} ? is-invalid"
											th:field="*{descricao}" placeholder="ex: COMENTARIOS" />
									</div>
								</div>

								<div class="form-group row"
									th:classappend="${#fields.hasErrors('ingresso')} ? has-error">
									<label for="ingresso" class="col-sm-2 control-label">INGRESSO</label>
									<div class="col-sm-4">
										<input type="text" class="form-control"
											th:classappend="${#fields.hasErrors('ingresso')} ? is-invalid"
											th:field="*{ingresso}" placeholder="ex: QNT PESSOAS" />
									</div>
								</div>
								<div class="form-group row"
									th:classappend="${#fields.hasErrors('data')} ? has-error">
									<label for="data" class="col-sm-2 control-label">DATA</label>
									<div class="col-sm-4">
										<input type="text" class="form-control "
											th:classappend="${#fields.hasErrors('data')} ? is-invalid"
											th:field="*{data}" placeholder="ex: 10/02/2020"
											data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR" 
											data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
									</div>
								</div>
								<div class="form-group row"
									th:classappend="${#fields.hasErrors('horario')} ? has-error">
									<label for="horario" class="col-sm-2 control-label">HORARIO</label>
									<div class="col-sm-4">
										<input type="text" class="form-control "
											th:classappend="${#fields.hasErrors('horario')} ? is-invalid"
											th:field="*{horario}" placeholder="ex: 15:00" />
									</div>
								</div>
								<div class="form-group row"
									th:classappend="${#fields.hasErrors('valorIngresso')} ? has-error">
									<label for="valorIngresso" class="col-sm-2 control-label">VALOR
										DO INGRESSO</label>
									<div class="col-sm-4">
										<input type="text" class="form-control js-currency"
											th:classappend="${#fields.hasErrors('valorIngresso')} ? is-invalid"
											th:field="*{valorIngresso}" placeholder="ex: R$ 45,00" />
									</div>
								</div>
								<div class="form-group row ">
									<label for="casaEvento" class="col-sm-2 control-label">CASA
										DO EVENTO</label>
									<div class="col-sm-2">
										<select class="form-control" name="casa">

											<option th:each="espaco: ${todosEspacoEvento}"
												th:value="${espaco.codigo}" th:text="${espaco.nomeCasa}">
											</option>

										</select>
									</div>
								</div>
								<div class="form-group row ">
									<label for="genero" class="col-sm-2 control-label">GENERO
									</label>
									<div class="col-sm-2">
										<select class="form-control" name="genero">

											<option th:each="genero: ${todosGeneros}"
												th:value="${genero}" th:text="${genero}"></option>

										</select>
									</div>
								</div>


								<button type="submit" class="btn btn-outline-primary">Salvar</button>
							</div>
						</form>
						<div class="container" style="margin-top: 200px;"  th:if="${#lists.isEmpty(todosEspacoEvento)}">
		<h4> Para registrar um evento, é necessario ter pelo menos uma Casa de Show registrado. </h4>
		<h6 style="text-align:center;"> Em 10 segundos, a página será redirecionado para Cadastro de Casas!  </h6>
		<meta http-equiv="refresh" content="10;url=/espacoeventos" />
	</div>
					</div>
				</div>


			</div>

		</div>
	</div>
	
</section>

</html>

