<!DOCTYPE html>
<html lang="pt-br" dir="ltr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro Casas</title>
</head>

<section layout:fragment="conteudo">
	<div class="hero-content">
		<div class="container">
			<div class="row correnan">
				<div class="col-12 offset-lg-2 col-lg-10">
					<h1>Cadastro Casas de Eventos</h1>
					<div class="entry-header">
						<!-- .countdown-holder -->


						<form method="POST" action="/espacoeventos" th:object="${espacoEvento}">
							<div layout:insert="MensagemGeral"></div>
							<div layout:insert="MensagemErro"></div>
							
							<div class="card-body ">
							<input type="hidden" th:field="*{codigo}"/> 
							<div class="form-group row" th:classapend="${#fields.hasErrors('nomeCasa')} ? has-error">
								<label for="validationDefault01" class="col-sm-2 control-label">NOME</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" th:classappend="${#fields.hasErrors('nomeCasa')} ? is-invalid"
									th:field="*{nomeCasa}"
										placeholder="ex: NOME">
								</div>
							</div>
							<div class="form-group row" th:classapend="${#fields.hasErrors('local')} ? has-error">
								<label for="validationDefault02" class="col-sm-2 control-label">LOCAL</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" th:classappend="${#fields.hasErrors('local')} ? is-invalid" th:field="*{local}"
										placeholder="ex: ENDEREÇO" />
								</div>
							</div>

							<button type="submit" class="btn btn-outline-primary">Salvar</button>
							</div>
						</form>
					</div>
				</div>

			</div>

		</div>

	</div>

</section>

</html>

