<!DOCTYPE html>
<html lang="pt-br" dir="ltr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro Casas</title>
</head>

<section layout:fragment="conteudo">




	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="col-12 offset-lg-2 col-lg-10">
					<div class="entry-header">
						<!-- .countdown-holder -->


											
						<form method="POST" action="/" th:object="${evento}">
							<div class="card">
							  <h5 class="card-header" ></h5>
							 	<div class="list-group-item" th:each="eventos: ${todosEventosShows}">
							   	<div class="clearfix renanAlign">
							   	 <img src="/images/ROCK.png" width="120" height="120"
										class="" alt="">
							    </div>
							    <h5 class="card-title correnan2"></h5>
							    
							    <p class="card-text correnan2" th:text="|Show ${eventos.nomeEvento}|">oi</p>
							    <p class="card-text correnan2" th:text="|Valor do ingresso R$ ${eventos.ingresso}|">oi</p>
							    
							    <p class="card-text correnan2" th:text="|Data do show ${eventos.data}|">oi</p>
							    <p class="card-text correnan2" th:text="|Horario do evento ${eventos.horario}|">oi</p>
							    <p class="card-text correnan2" th:text="|Genero ${eventos.genero}|">oi</p>	
							    <a href="#" class="btn btn-primary botaoRenan">Adicionar no carrinho</a>
							 	</div>
							</div>
							
						</form>
						
						 </div>
					</div>
						</div>
						
						
						
						
					</div>

				</div>


			</div>




		</div>
	</div>



</section>
</html>
