<!DOCTYPE html>
<html lang="pt-br" dir="ltr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro Casas</title>
</head>

<section layout:fragment="conteudo">

	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="col-12 offset-lg-2 col-lg-10">
					<div class="entry-header">




						<div class="card-body">
							<div class="card-body">
								<div class="clearfix">
									<h2 class="card-title aw-titulo-card">Eventos</h2>
									
								</div>
							</div>
						</div>
						<div layout:insert="MensagemGeral"></div>
						<div class="card-body ">
							<table class="table table-bordered table-striped  correnan">
								<thead>
									<tr>
										<th class="text-center" width="10%">#</th>
										<th class="text-center " width="10%">NOME</th>
										<th class="text-center " width="10%">DESCRICAO</th>
										<th class="text-center " width="10%">INGRESSO</th>
										<th class="text-center " width="10%">DATA</th>
										<th class="text-center " width="10%">HORARIO</th>
										<th class="text-center " width="10%">VALORINGRESSO</th>
										<th class="text-center " width="10%">CASA</th>
										<th class="text-center " width="10%">GÊNERO</th>
										<th class="col-md-1"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="todas: ${eventos}">
										<td class="text-center" th:text="${todas.id}"></td>
										<td class="text-center" th:text="${todas.nomeEvento}"></td>
										<td class="text-center" th:text="${todas.descricao}"></td>
										<td class="text-center" th:text="${todas.ingresso}"></td>
										<td class="text-center" th:text="${{todas.data}}"></td>
										<td class="text-center" th:text="${todas.horario}"></td>
										<td class="text-center" th:text="|R$ ${{todas.valorIngresso}}|"></td>
										<td class="text-center" th:text="${todas.casa.nomeCasa}"></td>
										<td class="text-center" th:text="${todas.genero}"></td>
										<td class="text-center">
										<a class="btn btn-link btn-xs" th:href="@{/editarEvento/{codigo}(codigo=${todas.id})}">
												<span class=""><img src="/images/images.editar2.png" width="30"
										height="30"></span>
											</a>
											<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModalEvento"  >
												<span class=""><img src="/images/excluir2.png" width="30"
										height="30"></span>
											</a>
											</td>
									</tr>
									<tr>
										<td colspan="10" th:if="${#lists.isEmpty(eventos)}">Nenhuma
											casa foi encontrada</td>
									</tr>
								</tbody>
							</table>
						</div>


					</div>

				</div>




			</div>
		</div>
	<div layout:insert="DialogoConfirmacaoExclusaoEvento"></div>
	</div>

</section>

</html>